package ${package.Service};

import com.dmall.datalite.rdb.criterion.Db;
import com.dmall.datalite.rdb.criterion.DbQueryCriterion;
import com.dmall.datalite.rdb.dao.DbBaseDao;
import com.dmall.datalite.rdb.service.DbBaseService;
import ${package.Mapper}.${table.mapperName};
import ${package.Entity}.${entity};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import lombok.extern.slf4j.Slf4j;

/**
 * <p>
 * ${table.comment}  服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
public class ${entity}Service extends ${superServiceClass}<${entity},Long> {

    private Logger logger = LoggerFactory.getLogger(${entity}Service.class);

    @Autowired
    private ${table.mapperName} ${cfg.capitalName}Dao;

    @Override
    protected DbBaseDao<${entity}, Long> getDao(){
        return ${cfg.capitalName}Dao;
    }
}